**/node_modules/
**/package-lock.json
**/.npm/
**/.config.json
**/.config.json.backup
**/.config.nodes.json
**/.sessions.json
**/flows.json.backup
**/*_cred.json

**/dist/                 
**/build/
**/.eslintcache
**/.vite/

sida-core/sida-core
**/*.exe
**/*.test
**/*.out

**/data/*.db
**/data/*.db-wal
**/data/*.db-shm
**/data/*.sqlite

**/*.ipc
**/.ipc/

**/.env
**/.env.local
**/.env.development
**/.env.production
!**/.env.example

.DS_Store
.DS_Store?
._*
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?